.board {
  width: 60%;
  margin: 24vh auto;
}

.header-text {
  font-size: 6vh;
}

.leaderboard {
  margin: 3vh 1vh;
  text-align: center;
}

.leaderboard-header {
  display: flex;
  justify-content: space-evenly;
}

.leaderboard span,
.headertext {
  font-size: 3vh;
}

.addscore {
  text-align: center;
  width: 100%;
  margin: 3vh 0;
}

form {
  margin: 5vh 0;
}

.table {
  margin: 6vh;
  width: 80%;
}
